body{
	margin: 0;
	border-style: outset;
	border: 8px solid lightgray;
	border-bottom: 50px solid lightgrey;
}
.container{
	width: 100%;
	margin: 40px;
	height : 350px;
}
header{
	 background-color: lightgrey;
	 margin: auto;
	 padding: 35px;
	 padding-left: 60px;
}
.first{
	position: relative;
	background-color: white;
	margin: auto;
	width: 35%;
	height:350px;
	float: left;
	overflow: hidden;
	padding-left: 30px;
}
.line {
	position:absolute;
	left:40%;
	top:10%;
	bottom: 10%;
	border-left:8px solid lightgray;
	height:100%;
	max-height: inherit;
}
.second{
	position: relative;
	background-color: white;
	width: 45%;
	height:350px;
	float: left;
	padding-left:30px;
	overflow: hidden;
	margin-left: 5px;
}
p{
	margin-top: -20px;
	padding-left: 10px;
}
button{
	background-color: black;
	color:white;
	height: 35px;
}
.inp{
	background-color: lightgrey;
	width: 400px;
	height: 30px;
	border-radius: 2px;
}
table {
    border-collapse: collapse;
    border:3px solid lightgrey;
    width: 100%;
    color: black;
    font-family: arial,sans-serif;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: lightgrey}
